
<!--
.divClass {
    color: blue ;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
   }
   img {
    width: 400px;
  }
#thirdDiv {
  height: 600px ;
  width: 500px ;
  background-color: rgb(255, 255, 255);
  padding: 50px; border: blue; width: fit-content;text-decoration-style: solid;
   }

#spanID { 
  font-size: 18px;
   margin: 50px;
   }

   --> 