
img {
    border-color: black;
    border-width: 10px;
    border-style: solid;
  }
  
  h1 {
    text-align: center;
    font-size: 51px;
    font-family: "Big Caslon"
  }
  
  p {
    text-align: center;
    font-size: 20px;
  }
  
  ul {
    list-style-position: inside;
    position: relative;
    left: 160px;
  }
  
  #tribute-info {
    text-align: center;
    font-size: 18px;
  }

  #main {
    text-align: center;
    font-family: "Book Antiqua";

  }

  #title {
    text-align: center;
    font-family: "Book Antiqua";

  }
  
  #tribute-link {
    text-align: center;
    font-size: 18px;

  }

  .center-img {
    margin: 0 auto;
    display: block;
    width: 600px;
  }  
  
  
  
  .background {
    background-color: blanchedalmond;
    margin: 40px;
  }
  

  
